body{
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Prata', serif;
    
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.yelp-logo{
    margin-right: 12px;
}

.nav-item{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#header-left-nav-item{
    position: relative;
    top: -5px;
}

.header-right > button{
 background-color: black;
 color: white;
 border: none;
 outline: none;
 padding: 15px;
 border-radius: 5px;
 margin-left: 5px;
}

.jumbotrog{
    background-color: rgb(255, 233, 233);
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#jumbo-text-header{
    font-weight: bold;
    font-size: 30px;
   
    width: 40%;
}

.jumbotrog > p {
    font-size: 18px;
    opacity: 0.7;
    width: 25%;
 
}

#add-your-own-text{
    color: black;
}
.input-wrapper > input {
    border: none;
    outline: none;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px  1px #aaa;

}

#search-icon{
    position: relative;
    right: 210px;
    bottom: -5px;
  
}

.input-wrapper > button{
    background-color: black;
    color: white;
    outline: none;
    border: none;
    padding: 20px;
    width: 100px;
    margin-left: -10px;
    border-radius: 5px;
}

.camps-wrapper{
    margin-top: 40px;
    margin-left: 10px;
    
    width: 100%;
    
    display: grid;
    grid-template-columns: auto auto auto ;
    justify-content:center ;
   
    row-gap: 4px;
    column-gap: -100%;
    
}

.camps-box{
 
    border: 1px solid #aaa;
    width: 300px;
  
    padding: 10px;
    overflow: hidden;
    border-radius: 2px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.camps-box > img{
    border-radius: 5px;
    width: 100%;

}

.camps-box > h3 {
    font-size: 20px;
    font-weight: 800;
}

.camps-box > p{
    font-size: 18px;
    color: rgb(107, 105, 105);
}

.camps-box > button{
    border: 1px solid #aaa;
    outline: none;
    padding: 15px;
    width: 100%;
    background-color: white;
    font-size: 17px;

}
footer {
    padding-left: 10px;
    margin-top: 10px;
}

@media screen and (max-width: 820px) {
    header{
        width: 100%;
    }

    .nav-item{
       visibility: hidden;;
    }
    .header-right {
        visibility: hidden;
    }

    .jumbotrog{
        background-color: rgb(255, 233, 233);
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 30px;
        width: 100%;
    }

    .jumbotrog{
        background-color: rgb(255, 233, 233);
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 30px;
        width: 100%;
    }

    #jumbo-text-header{
        font-weight: bold;
        font-size: 30px;
       
        width: 40%;
    }
    
    .jumbotrog > p {
        font-size: 18px;
        opacity: 0.7;
        width: 50%;
     
    }

    .camps-wrapper{
        margin-top: 40px;
        
        
        width: 100%;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: auto auto;
 
        
    }

    .camps-box{
 
        border: 1px solid #aaa;
        width: 95%;
      
        padding: 10px;
        overflow: hidden;
        border-radius: 2px;
        box-sizing: border-box;
        
        margin-bottom: 10px;
    }
    

    
}

@media screen and (max-width:768px) {
    header{
        width: 100%;
    }

    .nav-item{
       visibility: hidden;;
    }
    .header-right {
        visibility: hidden;
    }

    .jumbotrog{
        background-color: rgb(255, 233, 233);
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 30px;
        width: 100%;
    }

    #jumbo-text-header{
        font-weight: bold;
        font-size: 30px;
       
        width: 40%;
    }
    
    .jumbotrog > p {
        font-size: 18px;
        opacity: 0.7;
        width: 70%;
     
    }

    .camps-wrapper{
        margin-top: 40px;
        
        
        width: 100%;
        margin-bottom: 10px;
        display: block;
 
        
    }

    .camps-box{
 
        border: 1px solid #aaa;
        width: 95%;
      
        padding: 10px;
        overflow: hidden;
        border-radius: 2px;
        box-sizing: border-box;
        
        margin-bottom: 10px;
    }
    
    

    
}

